@page
@model WebApplicationTestTaskISH.Pages.UserRoles.UsersModel
@{
    ViewData["Title"] = "Users";
    ViewData["ShowButtons"] = true;
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["SuccessMessage"]
    </div>
}

<h1>Users</h1>
@*<h3>Всего пользователей: @Model.Users.Count()</h3>*@

<div class="row">
    @foreach (var item in Model.Users)
    {
        <div class="col-12 col-sm-6 col-lg-4">
            <partial name="_DisplayUsersPartial" model="item"  view-data="ViewData"/>
        </div>
    }
</div>