@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1 class="display-4">@Model.Message</h1>
</div>*@

<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
        <h2>to mine first razor page project</h2>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <img src="/images/banner.jpg" class="w-50 img-fluid img-thumbnail" alt="Banner image"/>
    </div>
</div>
